.togglebox {
 width: 100%;
 height: auto;
 margin: 0 auto;
 background: #F8F8F8;
 transition: all 0.5s linear;
}

.togglebox input[type="radio"] {
 position: absolute;
 opacity: 0;
 transition: all 0.5s linear;
}

.togglebox label {
 position: relative;
 display: block;
 height: 50px;
 line-height: 50px;
 padding: 0 20px;
 font-size: 14px;
 font-weight: bold;
 background: #E8E8E8;
 cursor: pointer;
 font-family: 'Lobster', cursive;
 font-size: 18px;
 transition: all 0.5s linear;
}

.togglebox label:hover {
 background: #004F81;
 color: #F8F8F8;
 transition: all 0.5s linear;
}

.togglebox label:after {
 content: '\f078';
 top: 0px;
 right: 20px;
 font-family: fontawesome;
 float: right;
 transition: all 0.5s linear;
}

.togglebox .content {
 height: auto;
 overflow: hidden;
 transition: all 0.5s linear;
}

.togglebox input[type="radio"]:checked ~ label {
  background: #004F81;
  color: #F8F8F8;
  transition: all 0.5s linear;
}

.togglebox input[type="radio"]:hover ~ label:after {
 transform: rotate(90deg);
 -moz-transform: rotate(90deg);
 -o-transform: rotate(90deg);
 -ms-transform: rotate(90deg);
 -webkit-transform: rotate(90deg);
 transition: all 0.5s linear;
}

.togglebox input[type="radio"]:checked ~ label:after {
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transition: all 0.5s linear;
}

.togglebox input[type="radio"] ~ .content {
 display: none;
}

.togglebox input[type="radio"]:checked ~ .content {
 display: block;
 transition: all 0.5s linear;
}

.togglebox p {
 padding: 0 20px;
}
