name: Deploy to GitHub Pages

on:
  push:
    branches: ["master"] # Trigger on pushes to master

permissions:
  contents: write # Required to push to the gh-pages branch

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          cache-dependency-path: src/package-lock.json
          node-version: 20 # Or your preferred version
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci # 'ci' is safer than 'install' for CI environments

      - name: Build Project
        run: npm run build --if-present

      - name: Deploy to gh-pages branch
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: build